/* common shared styleg */
body{  
   
    font-family:'Lato', sans-serif;
    font-family: "Open Sans", sans-serif;
     
    }

.text-primary{
    color: #FD6E0A;
}


    /* display: flex;color: rgb(15, 12, 12); */
   

.nav-title {
    color: rgb(7, 1, 1);
    
    font-size: 45px;
   
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}


nav li {
    list-style: none;
   margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

.btn-primary
{border-radius: 5px;
    background: #FD6E0A;
   
    border:0 ;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 22px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}



